<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/aryaask/Documents/Website Projects/Learn/Maths Derivers/Sinx Derivative Proof/Background Music/Vuk Vuk.mp4</key>
	<data>
	Ym9va6wDAAAAAAQQMAAAALwnaQx7lAGHDZ851yAqHv5m5/vCIMpJ5z0OujWxFpJjqAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGFyeWFhc2sACQAAAAEB
	AABEb2N1bWVudHMAAAAQAAAAAQEAAFdlYnNpdGUgUHJvamVjdHMFAAAAAQEAAExlYXJu
	AAAADgAAAAEBAABNYXRocyBEZXJpdmVycwAAFQAAAAEBAABTaW54IERlcml2YXRpdmUg
	UHJvb2YAAAAQAAAAAQEAAEJhY2tncm91bmQgTXVzaWMLAAAAAQEAAFZ1ayBWdWsubXA0
	ACQAAAABBgAAEAAAACAAAAAwAAAARAAAAFwAAABsAAAAhAAAAKQAAAC8AAAACAAAAAQD
	AABPUwAAAAAAAAgAAAAEAwAA84cFAAAAAAAIAAAABAMAACSIBQAAAAAACAAAAAQDAAAS
	YksDAAAAAAgAAAAEAwAAPrguCAAAAAAIAAAABAMAAIOlSQgAAAAACAAAAAQDAAAw4UkI
	AAAAAAgAAAAEAwAA7BVKCAAAAAAIAAAABAMAADkYSggAAAAAJAAAAAEGAAD8AAAADAEA
	ABwBAAAsAQAAPAEAAEwBAABcAQAAbAEAAHwBAAAIAAAAAAQAAEHGOwttDCr5GAAAAAEC
	AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAcAAAAAAAAABAAAAAMDAAD1
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAcIbD
	mwAAAAgAAAAABAAAQcX1BKwAAAAkAAAAAQEAAEEzOTlFNjZGLTlCQzUtNDNFMy1CMTM5
	LTlDQTkyNzM0REFENhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAADQAAAAAAAAAAUQAACM
	AQAAAAAAABAQAADIAQAAAAAAAEAQAAC4AQAAAAAAAAIgAACUAgAAAAAAAAUgAAAEAgAA
	AAAAABAgAAAUAgAAAAAAABEgAABIAgAAAAAAABIgAAAoAgAAAAAAABMgAAA4AgAAAAAA
	ACAgAAB0AgAAAAAAADAgAACgAgAAAAAAAAHAAADoAQAAAAAAABHAAAAgAAAAAAAAABLA
	AAD4AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/aryaask/Documents/Website Projects/Learn/Maths Derivers/Sinx Derivative Proof/Narrations/ElevenLabs_2024-08-21T12_22_39_Liam_pre_s50_sb75_se0_b_m2.mp3</key>
	<data>
	Ym9va9wDAAAAAAQQMAAAAEsTf9KLiuBlDlQC9xZXokYotHeeIZNcDy3sf9hCAGvi2AIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGFyeWFhc2sACQAAAAEB
	AABEb2N1bWVudHMAAAAQAAAAAQEAAFdlYnNpdGUgUHJvamVjdHMFAAAAAQEAAExlYXJu
	AAAADgAAAAEBAABNYXRocyBEZXJpdmVycwAAFQAAAAEBAABTaW54IERlcml2YXRpdmUg
	UHJvb2YAAAAKAAAAAQEAAE5hcnJhdGlvbnMAAD0AAAABAQAARWxldmVuTGFic18yMDI0
	LTA4LTIxVDEyXzIyXzM5X0xpYW1fcHJlX3M1MF9zYjc1X3NlMF9iX20yLm1wMwAAACQA
	AAABBgAAEAAAACAAAAAwAAAARAAAAFwAAABsAAAAhAAAAKQAAAC4AAAACAAAAAQDAABP
	UwAAAAAAAAgAAAAEAwAA84cFAAAAAAAIAAAABAMAACSIBQAAAAAACAAAAAQDAAASYksD
	AAAAAAgAAAAEAwAAPrguCAAAAAAIAAAABAMAAIOlSQgAAAAACAAAAAQDAAAw4UkIAAAA
	AAgAAAAEAwAArwxKCAAAAAAIAAAABAMAAG4NSggAAAAAJAAAAAEGAAAsAQAAPAEAAEwB
	AABcAQAAbAEAAHwBAACMAQAAnAEAAKwBAAAIAAAAAAQAAEHGOwnaRRx2GAAAAAECAAAB
	AAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAcAAAAAAAAABAAAAAMDAAD1AQAA
	CAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAcIbDmwAA
	AAgAAAAABAAAQcX1BKwAAAAkAAAAAQEAAEEzOTlFNjZGLTlCQzUtNDNFMy1CMTM5LTlD
	QTkyNzM0REFENhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
	AAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAAAAQAAAAAAAAUQAAC8AQAA
	AAAAABAQAAD4AQAAAAAAAEAQAADoAQAAAAAAAAIgAADEAgAAAAAAAAUgAAA0AgAAAAAA
	ABAgAABEAgAAAAAAABEgAAB4AgAAAAAAABIgAABYAgAAAAAAABMgAABoAgAAAAAAACAg
	AACkAgAAAAAAADAgAADQAgAAAAAAAAHAAAAYAgAAAAAAABHAAAAgAAAAAAAAABLAAAAo
	AgAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/aryaask/Documents/Website Projects/Learn/Maths Derivers/Sinx Derivative Proof/media/videos/script/1080p60/Main.mp4</key>
	<data>
	Ym9vaxgEAAAAAAQQMAAAACJcjVSmaKyzfOIpm+SwZI49dyWm805t/K4d8TKfoWqPFAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGFyeWFhc2sACQAAAAEB
	AABEb2N1bWVudHMAAAAQAAAAAQEAAFdlYnNpdGUgUHJvamVjdHMFAAAAAQEAAExlYXJu
	AAAADgAAAAEBAABNYXRocyBEZXJpdmVycwAAFQAAAAEBAABTaW54IERlcml2YXRpdmUg
	UHJvb2YAAAAFAAAAAQEAAG1lZGlhAAAABgAAAAEBAAB2aWRlb3MAAAYAAAABAQAAc2Ny
	aXB0AAAHAAAAAQEAADEwODBwNjAACAAAAAEBAABNYWluLm1wNDAAAAABBgAAEAAAACAA
	AAAwAAAARAAAAFwAAABsAAAAhAAAAKQAAAC0AAAAxAAAANQAAADkAAAACAAAAAQDAABP
	UwAAAAAAAAgAAAAEAwAA84cFAAAAAAAIAAAABAMAACSIBQAAAAAACAAAAAQDAAASYksD
	AAAAAAgAAAAEAwAAPrguCAAAAAAIAAAABAMAAIOlSQgAAAAACAAAAAQDAAAw4UkIAAAA
	AAgAAAAEAwAAAOdJCAAAAAAIAAAABAMAAMrpSQgAAAAACAAAAAQDAADL6UkIAAAAAAgA
	AAAEAwAAlvxJCAAAAAAIAAAABAMAAIMFSggAAAAAMAAAAAEGAAAsAQAAPAEAAEwBAABc
	AQAAbAEAAHwBAACMAQAAnAEAAKwBAAC8AQAAzAEAANwBAAAIAAAAAAQAAEHGOwlI+4Q3
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAoAAAAAAAAABAAA
	AAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQD
	AAAAcIbDmwAAAAgAAAAABAAAQcX1BKwAAAAkAAAAAQEAAEEzOTlFNjZGLTlCQzUtNDNF
	My1CMTM5LTlDQTkyNzM0REFENhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAD0AAAAAAAA
	AAUQAADsAQAAAAAAABAQAAA0AgAAAAAAAEAQAAAkAgAAAAAAAAIgAAAAAwAAAAAAAAUg
	AABwAgAAAAAAABAgAACAAgAAAAAAABEgAAC0AgAAAAAAABIgAACUAgAAAAAAABMgAACk
	AgAAAAAAACAgAADgAgAAAAAAADAgAAAMAwAAAAAAAAHAAABUAgAAAAAAABHAAAAgAAAA
	AAAAABLAAABkAgAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
